<!--näyttää valitun sankarin tiedot-->

<!--*ngIf (structural directive): jos listasta on valittu sankari (painamalla nappia),
    tämä div näytetään-->
<div *ngIf="hero">

  <h2>{{hero.name | uppercase}} Details</h2>
  <div>id: {{hero.id}}</div>
  <div>
    <label for="hero-name">Hero name: </label>
    <!--Two-way binding: templaatissa oleva data (useimmiten lomakkeella) sidotaan kaksisuuntaisesti
        luokassa olevaan muuttujaan: [(ngModel)]="muuttuja"-->
    <input id="hero-name" [(ngModel)]="hero.name" placeholder="name">
  </div>

</div>