<!--HTML-templaatti; rakenne siitä, mitä käyttäjä näkee; sisältö tuodaan 
  luokkaosista ja komponenttien templaateista-->

<!-- interpolation binding: luokassa oleva muuttuja sidotaan yksisuuntaisesti
  {{muuttuja}}-merkintään templaatissa. Keino lisätä dynaamista sisältöä
  staattisen html:n sekaan. -->
<h1>{{title}}</h1>
<nav>
  <!--RouterLink:  tekee elementistä linkin, joka initioi navigaation
    -> avaa reititetyn komponentin sivulle sijainnissa <router-outlet> -->
  <a routerLink="/dashboard">Dashboard</a>
  <a routerLink="/heroes">Heroes</a>
</nav>
<!--RouterOutlet toimii placeholderina - se saa sisältönsä reitittimen tämänhetkisen tilan mukaan-->
<router-outlet></router-outlet>
<app-messages></app-messages>